<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761185489882-8gcko262qke15p7bk5cfujkukepfe912.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761185489882-8gcko262qke15p7bk5cfujkukepfe912</string>
	<key>API_KEY</key>
	<string>AIzaSyAKjSRtUVrtexfuRW1kxIHi9NCxyrdzjB8</string>
	<key>GCM_SENDER_ID</key>
	<string>761185489882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Runner.Ghost-Runner</string>
	<key>PROJECT_ID</key>
	<string>ghost-runner-ed897</string>
	<key>STORAGE_BUCKET</key>
	<string>ghost-runner-ed897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761185489882:ios:08636d78e3a66ab954e6e3</string>
</dict>
</plist>